{%extends 'base.html'%}
{% load cloudinary %}
{%load bootstrap5%}
{{block.super}}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 sidePro bg-dark" >
      {%if profile%}
      {%for i in profile%}
      <div class="improfile">
        <div class="over">


        <img height="120" class="rounded-circle hoverable " src="{{i.profile.url}}" alt="">
        <span id="user">{{user}}</span>
        <p>Status {{i.bio}}</p>
          </div>
      </div>
      <br>

        <p>Phone:{{i.phone}}</p>
      {%endfor%}
      {%else%}
      <div class="improfile">
        <div class="over">


        <img height="120" class="rounded-circle hoverable " src="" alt="">
        <span id="user">{{user}}</span>
        <br><br><br>
        <i class="alert alert-warning">For better experience, kindly update your profile</i>
          </div>
      </div>
      {%endif%}
      <p>{{user.email}}</p>

      <p>Software Developer</p>
      <a class="btn btn-outline-danger" href="/logout/">Logout</a>


    </div>
    <div class="col-md-7">
      <h1>API Endpoints</h1>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="jumbotron">
            <p>This endpoint returns all the user profiles with information such as the username, bio, projects of the user and profile picture</p>
            <br>
            <b>Its really Awesome</b>
            <p>Profile End-point <a href="/api/profile/">View</a></p>
            <br>

          </div>


        </div>
        <div class="col-md-6">
          <div class="jumbotron">
          <p>This endpoint returns all information pertaining to all the projects posted in this application by authenticated users only.</p>
          <br>
          <b>Navigate to Enjoy</b>
          <p>Projects End-point <a href="/api/projects/">View</a></p>
          <br>

          </div>

          <br>
        </div>


      </div>

    </div>

  </div>

</div>

{%endblock%}